<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome {{ title }}!
  </h1>
  <table>
    <thead>
      <tr>
        <td>Product ID</td>
        <td>Name</td>
        <td>Price</td>
      </tr>
    </thead>
    <tbody>
    <!-- Java ForLoop for(Product x:productList) -->
  <tr *ngFor="let x of productList">
    <td>{{ x.productId }}</td> <td>{{ x.name }}</td> <td>{{ x.price }} <a href="#"  (click)="raisePrice(x)">Raise</a> </td>
    
  </tr></tbody>
</table>
  
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
